footer{

background-color:gray;

text-align: center;

font-family: Raleway;

text-decoration: none;
margin-top: 5%;
font-weight: bold;

font-size: 15px;
}

#pic {
text-align: center;


}




head

{

background-color:gray;

}

header

{background-color:gray;

}

</style>


h1 {

font-family: 'Bevan', cursive;

font-size: 24px;

font-style: normal;

font-variant: normal;

font-weight: 500;

text-align: center;

color: #990000;

line-height: 24.4px;

}


h2 {

font-family: 'Bevan', cursive;

font-size: 34px;

font-style: normal;

font-variant: normal;

color: #990000;

font-weight: 500;

text-align: center;

line-height: 24.4px;

}
h3 {

font-family: 'Bevan', cursive;

font-size: 24px;

color: #990000;

font-style: normal;

font-variant: normal;

text-align: center;

font-weight: 500;

line-height: 26.4px;

}


p {

font-family: 'Alegreya Sans SC', sans-serif;

font-size: 20px;

color: #141A1A;

font-style: normal;

font-family: 'Alegreya Sans SC', sans-serif;

text-align: center;

font-variant: normal;

font-weight: 400;

line-height: 20px;

}

blockquote {

font-family: Raleway;

font-size: 18px;

font-style: normal;

font-variant: normal;

font-weight: 400;

line-height: 20px;

}

pre {

font-family: Raleway;

font-size: 15px;

font-style: normal;

font-variant: normal;

font-weight: 400;

line-height: 18.5667px;

}

#nav {

list-style: none;

font-weight: bold;

margin-bottom: 10px;

width: 100%;

font-size: 18px;

text-align: center;

display:inline;

margin-left:auto;

margin-right:auto;

}

ul {

list-style-type: none;

margin: 0px;

padding: 0;

width: 100%;

}

#nav li {

margin: 0px;

}

#nav li a {

padding: 0px;

text-decoration: none;

font-weight: bold;

color: #FFFFFF;

width: 14.28%;

background-color: #000000;

float: left

}

#nav li a:hover {

color: #FFFFFF;

background-color: #151515;

}